body {
    background: #fbe9f1;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0 10px pink;
}

h1 {
    text-align: center;
    color: #d63384;
}

p {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #d63384;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #b82b6b;
}

#message {
    text-align: center;
    margin-top: 15px;
    color: green;
    font-weight: bold;
}
